.game-header {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: #fff;
  padding: 10px;
}

.game-header .player-name {
  font-weight: bold;
}

.game-header .player-lives {
  font-weight: bold;
}

.map-grid {
  border: 2px solid #333;
  position: relative;
}

.tile {
  width: 40px;
  height: 40px;
  background-size: cover;
  border: 1px solid #333;
}

.tile.wall {
  background-image: url("../images/wall.png");
}

.tile.block {
  background-image: url("../images/block.png");
}

.tile.empty {
  background-image: url("../images/floor.png");
}

.player {
  background-size: cover;
  position: absolute;
}

.player.bilal {
  background-image: url("../images/bilal.png");
}

.player.l9r3 {
  background-image: url("../images/l9r3.png");
}

.player.lbnita {
  background-image: url("../images/lbnita.png");
}

.player.ndadr {
  background-image: url("../images/ndadr.png");
}

.power-up {
  z-index: 100;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;

}

.Flame {
  background-image: url("../images/flameRange.png");
}

.Speed {
  background-image: url("../images/speedRapid.png");
}

.Bomb {
  background-image: url("../images/maxBomb.png");
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #fff;
  padding: 10px;
}

.player-powerups {
  display: flex;
  gap: 10px;
}

.powerup-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.powerup-icon {
  width: 24px;
  height: 24px;
}

.powerup-count {
  font-weight: bold;
  font-size: 14px;
}

.map-grid {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(13, 40px);
  position: relative;
  width: calc(15*40px);
  height: calc(13*40px);
}